* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

header h1 {
    text-align: center;
    margin: 20px 0 100px 0;
}

header h1 span {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 158, 255);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0);
}

#boardGame {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 0fr);

}

.square {
    background-color: white;
    width: 75px;
    height: 75px;
    border: 4px solid black;
    border-radius: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.controls {
    display: grid;
    justify-content: right;
    gap: 5px;
    border: 1px solid black;
    padding: 3px;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(22, 158, 255);
    position: absolute;
    top : 35%;
    right: 130px;
}
.controls button {
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: rgb(23, 146, 234);
    font-weight: bold;
}
.controls button:hover {
    background-color: rgb(68, 161, 238);
    cursor: pointer;
}
#executeBtn {
    grid-column: 1 / 3;
    background-color: rgb(0, 94, 173);
}