* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SN Pro', sans-serif;
    background-color: aqua;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 8% 68% 16% 8%;
    grid-template-columns: 2.5fr 2fr;
}

header.mainHeader {
    display: grid;
    justify-content: center;
    align-items: flex-end;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-columns: 1fr auto 1fr;
    padding: 15px;
}

header.mainHeader #playMusicButton {
    grid-column: 1/2;
    justify-self: center;
    margin-bottom: 6px;
    margin-right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: clamp(14px, 1.2vw, 22px);
}

header.mainHeader #playMusicButton:hover {
    cursor: pointer;
    transform: scale(1.015);
}

header.mainHeader #playMusicButton span:nth-of-type(1){
    border-radius: 5px 0 0 5px;
    padding: 5px 7px;
    border: none;
    background-color: rgb(23, 146, 234);
}

header.mainHeader #playMusicButton span:nth-of-type(2){
    background-color: greenyellow;
    padding: 5px 7px;
    border-radius: 0 5px 5px 0;
}

header.mainHeader h1 {
    grid-column: 2/3;
    justify-self: center;
    font-size: clamp(1.5rem, 2.1vw, 2.6rem);
}

header.mainHeader h1 span:nth-of-type(2), header h2 span {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 158, 255);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0);
}

header.mainHeader h1 > span:first-of-type {
    background-color: white;
    padding: 5px;
    margin-right: 12px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0);
}

main {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#gameBoard {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: clamp(250px, 40vw, 54%);
    height: clamp(250px, 35vw, 81%);
    aspect-ratio: 1 / 1;
    max-width: 500px;
    max-height: 500px;
}

.robot-style {
    padding-top: 5px;
    font-size: clamp(35px, 6.5vh, 47px);
    color: white;
    text-shadow:
    -2px -2px 0 #000,
    0 -2px 0 #000,
    2px -2px 0 #000,
    -2px 0 0 #000,
    2px 0 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 2px 0 #000;
}

.square {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ground-empty {
    background: red;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(8, 0, 0, 1) 100%);
}

.controls {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2px;
    padding: 0 10px;
}

.controls button:disabled:hover {
    cursor: default;
    transform: none;
    background-color: rgb(23, 146, 234);
}

.controls button {
    display: flex;
    justify-content: center;
    padding: clamp(17px, 2.9vh, 26px);
    color: white;
    border-radius: 5px;
    border: none;
    background-color: rgb(23, 146, 234);
    font-size: clamp(17px, 2.9vh, 26px);
    min-width: 60px;
    max-width: 120px;
    width: fit-content;
}

.controls button:hover {
    background-color: rgb(68, 161, 238);
    cursor: pointer;
    transform: scale(1.015);
}

.controls button.hidden {
    display: none
}

aside {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
    margin-top: 15px;
}

.display {
    color: white;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 90%;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: clamp(5px, 1vw, 7px);
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: clamp(5px, 2vw, 8px);
    background-color: rgb(23, 146, 234);
    width: 95%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0);
}

.display p {
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 10px;
    font-size: clamp(12px, 2vh, 18px);
}

.display p:nth-of-type(1){
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.display p:nth-of-type(2) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.display p:nth-of-type(3) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#displayMain {
    background-color: rgb(200, 200, 200);
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    border: 2px solid white;
    border-radius: 10px;
    overflow-y: auto;
    padding: 5px 0;
}

#displayMain i, #displayMain span {
    display: inline-block;
    padding: 0 clamp(4px, 1.5vh, 6px);
    font-size: clamp(21px, 6vh, 51px);
}

#displayP1 {
    background-color: rgb(200, 200, 200);
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    border: 2px solid white;
    border-radius: 10px;
    overflow-y: auto;
    padding: 5px 0;
}

#displayP1 i, #displayP1 span {
    display: inline-block;
    padding: 0 clamp(4px, 1.5vh, 6px);
    font-size: clamp(21px, 6vh, 51px);
}

#displayP2 {
    background-color: rgb(200, 200, 200);
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    border: 2px solid white;
    border-radius: 10px;
    overflow-y: auto;
    padding: 5px 0;
}

#displayP2 i, #displayP2 span {
    display: inline-block;
    padding: 0 clamp(4px, 1.5vh, 6px);
    font-size: clamp(21px, 6vh, 51px);
}

.play-reset-selectLevel {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
}

.play-reset-selectLevel button {
    margin: 0 10px;
    padding: clamp(13px, 2.8vh, 29px);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: clamp(22px, 3.5vh, 35px);
    background-color: rgb(0, 94, 173);
    cursor: pointer;
    width: 100%;
}

.play-reset-selectLevel button:disabled:hover {
    cursor: default;
    transform: none;
    background-color: rgb(0, 94, 173);
}

.play-reset-selectLevel button:hover {
    background-color: rgba(0, 94, 173, 85%);
    transform: scale(1.015);
}

footer {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    background-color: white;
    padding: clamp(10px, 3vw, 12px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

footer span {
    font-size: clamp(9px, 2vh, 14px);
}

footer a {
    color: white;
    display: inline-block;
    background-color: rgb(23, 146, 234);
    border-radius: 10px;
    padding: clamp(3px, 1.3vh, 8px);
    text-decoration: none;
    font-size: clamp(9px, 2vh, 14px);
    margin: 0 6px;
}

footer a:hover {
    background-color: rgb(68, 161, 238);
    transform: scale(1.015);
}

footer span:nth-of-type(2).green {
    color: rgb(0, 255, 0);
    display: inline-block;
    transform: scale(1.5);
}

#resultOverlay {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(10px, 1.5vw, 20px);
    z-index: 1;
}

#resultOverlay p {
    background-color: white;
    padding: clamp(10px, 1vw, 15px);
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
}

#resultOverlay.hidden {
    display: none;
    pointer-events: none;
}

#resultOverlay button:hover {
    transform: scale(1.015);
    background-color: white;
    cursor: pointer;
}

#resultOverlay button {
    padding: clamp(10px, 2.5vh, 15px);
    font-size: clamp(20px, 5vh, 50px);
    border-radius: 10px;
    border: 5px solid black;
    background-color: yellow;
    width: clamp(180px, 30vh, 300px);;
}

#resultOverlay button.hidden {
    display: none;
}

#feedback {
    text-shadow: 5px 5px 5px black, 2px -2px 0px black, -2px -2px 0px black, -2px 2px 0px black;
    font-size: clamp(80px, 18vh, 150px);
}

#selectLevelsTotalArea {
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100vw;
    height: 92vh;
    background-color: aqua;
    position: absolute;
}

#selectLevelsTotalArea header {
    grid-row: 1/2;
    display: grid;
    font-size: larger;
    background-color: white;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    padding: 10px;
}

#selectLevelsTotalArea header button:first-of-type {
    padding: clamp(8px, 1vh, 11px) clamp(15px, 1.3vh, 30px);
    color: white;
    border-radius: 5px;
    border: none;
    background-color: rgb(23, 146, 234);
    font-size: clamp(20px, 3vh, 25px);
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: flex-start;
    justify-self: flex-start;
}

#selectLevelsTotalArea header button:nth-of-type(2) {
    padding: clamp(8px, 1vh, 11px) clamp(12px, 1vh, 20px);
    color: white;
    border-radius: 5px;
    border: none;
    background-color: rgb(23, 146, 234);
    font-size: clamp(18px, 2.8vh, 25px);
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: flex-start;
    justify-self: flex-end;
}

#selectLevelsTotalArea header button:hover {
    background-color: rgb(68, 161, 238);
    cursor: pointer;
    transform: scale(1.015);
}

#selectLevelsTotalArea header h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    justify-items: center;
    font-size: clamp(1.5rem, 4vh, 2.6rem);
    margin-top: clamp(2px, 0.4vh, 5px)
}

#selectLevelsTotalArea header h2 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    justify-items: center;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: clamp(1.3rem, 3.5vh, 2.3rem);
}

#selectLevelsTotalArea header h1 span:first-of-type {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 158, 255);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0);
}

#selectLevelsTotalArea.hidden {
    display: none;
    pointer-events: none;
}

#selectLevelsSection {
    z-index: 2;
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 0.7fr 1fr 1fr 0.7fr;
    justify-content: center;
    align-items: center;
    gap: clamp(8px, 3vw, 15px);
    padding: 20px;
}

.squareLevel {
    background-color: white;
    font-size: clamp(23px, 4.2vh, 29px);
    aspect-ratio: 1.4 / 1;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    border: 2.5px solid black;
    flex-direction: column;
    padding: 10px;
}

.squareLevel:hover {
    cursor: pointer;
    transform: scale(1.015);
}

#squareLevel1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#squareLevel2 {
    grid-column: 3/4;
    grid-row: 2/3;
}

#squareLevel3 {
    grid-column: 4/5;
    grid-row: 2/3;
}

#squareLevel4 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#squareLevel5 {
    grid-column: 3/4;
    grid-row: 3/4;
}

#squareLevel6 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.notAvailable {
    background-color: lightgray;
    color: black;
}

.notAvailable:hover {
    cursor: default;
    transform: none;
}

#gameInstructionsTotalArea {
    z-index: 3;
    position: absolute;
    background-color: aqua;
    height: 92vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 13% 87%;
}

#gameInstructionsTotalArea.hidden {
    display: none;
    pointer-events: none;
}

#gameInstructionsTotalArea header {
    grid-row: 1/2;
    background-color: white;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 10px;
}

#gameInstructionsTotalArea header h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 158, 255);
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0);
    grid-column: 2/3;
    width: fit-content;
    align-self: flex-start;
    justify-self: center;
    font-size: clamp(1.5rem, 2vw, 2.6rem);
}

#gameInstructionsTotalArea header button {
    padding: clamp(8px, 1vh, 11px) clamp(15px, 1.3vh, 30px);
    font-size: clamp(20px, 3vh, 25px);
    color: white;
    border-radius: 5px;
    border: none;
    background-color: rgb(23, 146, 234);
    grid-column: 1/2;
    align-self: flex-start;
    width: fit-content;
}

#gameInstructionsTotalArea header button:hover {
    background-color: rgb(68, 161, 238);
    cursor: pointer;
    transform: scale(1.015);
}

#gameInstructionsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(25px, 4.5vh, 40px);
    padding: 20px;
}

#gameInstructionsSection p {
    margin: clamp(10px, 1vw, 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#gameInstructionsSection p .instructionsSquare {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    width: clamp(80px, 15vh, 120px);
    height: clamp(80px, 15vh, 120px);
    margin: 0 10px;
}

#gameInstructionsSection p .instructionsSquare i {
    font-size: clamp(30px, 7.5vh, 55px);
}

#gameInstructionsSection p i {
    margin: 0 10px;
    color: white;
    text-shadow: 
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black;
    font-size: clamp(30px, 7.5vh, 50px);
}

#gameInstructionsSection p .bi-lightbulb {
    color: yellow;
}

#gameInstructionsSection p .bi-x-lg {
    color: red;
}

#gameInstructionsSection p:nth-of-type(2) .instructionsSquare:nth-of-type(1) {
    background: linear-gradient(to top, green, mediumseagreen);
}

#gameInstructionsSection p:nth-of-type(2) .instructionsSquare:nth-of-type(2) {
    background: linear-gradient(to top, mediumseagreen, mediumspringgreen);
}

#gameInstructionsSection p:nth-of-type(2) .instructionsSquare:nth-of-type(3), 
#gameInstructionsSection p:nth-of-type(3) .instructionsSquare {
    background: linear-gradient(to top, limegreen, lime);
}

#gameInstructionsSection p:nth-of-type(2) .instructionsSquare:nth-of-type(4) {
    background: linear-gradient(to top, green, mediumseagreen);
}

#gameInstructionsSection p:nth-of-type(3) .instructionsSquare:nth-of-type(2) .robot-style {
    opacity: 0.5;
}

#gameInstructionsSection .robot-style {
    font-size: clamp(35px, 4vw, 60px);
}